body {
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
body * {
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
h1, h2, h3, p, a {
  color: #494949;
  text-decoration: none;
  font-weight: normal;
  font-size: 2vw;
}
h1 {
  font-size: 3vw;
}
section {
  width: 100%;
}
.filler {
  flex-grow: 1;
  width: 100%;
}
.full {
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
}
.header * {
  color:white;
}
.header h1 {
  margin-top: 30vh;
  font-size: 6vmax;
  align-self: center;
  text-align: center;
}
.header .inner {
  align-self: center;
}
.header .inner p {
  font-size: 1.5vmax;
}
.header img {
  margin-bottom: auto;
  width: 22%;
  min-width: 200px;
  height: auto;
  align-self: center;
}
.about {
  width: auto;
  padding-top: 10vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10vw;
}
.about p {
  padding-top: 5vw;
}





.facts {
  background-color: #f3fff9;
  padding-bottom: 0px;
  overflow: auto;
  padding-top: 10vw;
  padding-bottom: 8vw;
}
.facts h1, .facts h2 {
  margin-left: 5vw;
}
.facts h2 {
  margin-top: 5vw;
}

.facts .inner {
  padding-left: 5vw;
  padding-right: 5vw;
}
.facts .inner h2 {
  padding-top: 5vw;
}
.facts .inner div {
  float:left;
  width: 33.3333%;
  text-align: center;
}
.facts .inner div img {
  width: 50%;
  margin-top: 10%;
  margin-bottom: 7%;
}
.facts .inner div p {
  font-size: 1vw;
}

.footer-img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
  background-color: #f3fff9;
}


.solution {
  background-color: #f3f3f3;
  padding-top: 10vw;
  padding-bottom: 10vw;
}
.solution h1 {
  padding-left: 5vw;
  padding-bottom: 5vw;
}
.solution img {
  width: 15vw;
}
.sol-inner {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}
.sol-inner div {
  width: 20%;
  height: auto;
  text-align: center;
}
.solution p {
  text-align: left;
  margin-left: 3.25vw;
  margin-top: 2vw;
  font-size: 2vw;
}
.solution p:nth-child(odd) {
  text-align: left;
  font-size: 1.5vw;
}



/*
.solution .inner {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.solution .inner div {
  width: 33.3333%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.solution .inner div img {
  max-height: 90%;
  max-width: 90%;
  align-self: center;
}
.solution .inner div div {
  width: auto;
  height: 50%;
  text-align: center;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
}
.solution .inner div div img {
  width: 10vw;
  height: auto;
  align-self: center;
  opacity: 0.6;
  margin-bottom: 1.5vw;
}
*/


.team {
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: #f3fff9;
  overflow: auto;
}
.team h1 {
  margin-bottom: 30px;
  padding-left: 5vw;
}
.team .inner {
  padding-left: 5vw;
  padding-right: 5vw;
}
.team .inner div {
  width: 33.33%;
  float: left;
  text-align: center;
}
.team .inner img {
  width: 17vw;
  height: auto;
}



.social {
  padding-top: 8vw;
  padding-bottom: 1vw;
}
.social h1, .social div {
  padding-left: 5vw;
  padding-right: 5vw;
}
.social div {
  padding-top: 5vw;
}
.social, .social div {
  text-align: center;
}
.social img {
  width: 8vw;
  height: auto;
}

.footer {
  background-color: #f3f3f3;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer p {
  text-align: left;
  font-size: 1.2vw;
  margin-left: 10px;
  align-self: center;
}
.footer div {
  flex-grow: 1;
}
.footer img {
  margin-right: 10px;
  height: 30px;
  width: auto;
}



/* Styles for the alternating / transition effect. */
.background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 100vh;
	transition: opacity 2s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('./../assets/img/header-bg/1.jpg');
	z-index: -3;
	opacity: 0;
}
.second-image {
	background-image: url('./../assets/img/header-bg/2.jpg');
	z-index: -2;
	opacity: 0;
}
.third-image {
	background-image: url('./../assets/img/header-bg/3.jpg');
	z-index: -1;
	opacity: 0;
}
.first-image.show {
	opacity: 1;
}
.second-image.show {
	opacity: 1;
}
.third-image.show {
	opacity: 1;
}

/*
PLACEHOLDER
*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
.box-input {
  background-color: rgba(255, 255, 255, 0.0);
  border-style: solid;
  border-color: white;
  border-width:thin;
  border-radius: 5px;
  color: white;
  padding: 0.5vw;
  font-size: 1.5vw;
  text-align: left;
  font-weight: normal;
}
.email-input{
  width: auto;
}
.button-input{
  width: auto;
}
.strong {
  font-weight: bold;
}

/* ENBART MOBIL */
@media (max-width: 767px) and (orientation:portrait) {
  h2, h3, p, a {
    font-size: 4vw;
  }
  h1 {
    font-size: 6vw;
  }
  .header h1 {
    font-size: 10vw;
  }
  .header .inner {
    text-align: center;
  }
  .header .inner p {
    font-size: 5vw;
  }
  .box-input {
    font-size: 5vw;
    text-align: center;
    margin-top: 15px;
  }
  .button-input {
    width: 50%;
    align-self: center;
  }

  .facts .inner div {
    float:inherit;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
  }
  .facts .inner div img {
    align-self: center;
    height: auto;
    margin-right: 10px;
    width: 35vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .facts .inner div h3 {
    align-self: center;
  }
  .facts .inner div p {
    display: none;
  }
  .solution {
    padding-bottom: 15vw;
  }
  .solution h1 {
    padding-left: 5vw;
    padding-bottom: 0vw;
  }

  .solution img {
    width: 51vw;
    margin-top: 15vw;
  }
  .sol-inner {
    flex-direction: column;
  }
  .sol-inner div {
    width: auto; /**/
    height: auto;
    text-align: center;
  }
  .solution p {
    text-align: center;
    margin-top: 2vw;
    font-size: 5vw;
  }
  .solution p:nth-child(odd) {
    font-size: 4vw;
    text-align: center;
  }

  .team .inner div {
    float:inherit;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
  }
  .team .inner div img {
    align-self: center;
    height: auto;
    margin-right: 10px;
    width: 35vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .team .inner div p {
    align-self: center;
  }
  .social .inner img {
    width: 25vw;
  }
}
